<div class="row">
    <div class="col-lg-6">
        <div class="widget"><form id="layerForm" novalidate ng-submit="tsp()">
            <div class="widget-title">
                <i class="fa fa-image"></i> Layer Information
                <a href="/#/zipupload" class="btn btn-default pull-right">New Upload</a>
                <button type="submit" id="tspopt" class="btn btn-default pull-right">Create Sequence</button>
            </div>
            <div class="widget-body no-padding">
                <div class="form-group">
                    <div ng-if="!layersLoaded"><loading></loading></div>
                    <div class="table-responsive" ng-if="layersLoaded">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Layer Name</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody id="formbody">
                                <tr ng-repeat="(layer,model) in layerdict">
                                    <td>
                                        {{layer}}
                                    </td>
                                    <td>
                                        <select
                                        class="selectpicker"
                                        ng-model="layerdict[layer]"
                                        name = "{{layer}}"
                                        ng-options= "option.verbose for option in costs"
                                        ng-required
                                        form="daform">
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form></div>
    </div>
</div>
