<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-tasks"></i> Historical Data and Wind DayCriteria
            </div>
            <div class="widget-body small">
                <div id="fileUpload">
                    <div class="message">
                        Please upload a properly formatted CSV file.
                    </div>
                    <br>
                    <div ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" class="btn btn-default">Select File</div>
                    <br>
                    <br>
                    <div ng-show="selectedFiles != null">
                        <div ng-repeat="f in selectedFiles">
                            <div class="progress" ng-show="progress[$index] >= 0">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{progress[$index]}}%;">
                                    {{progress[$index]}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class = "widget-title">
                <i class="fa fa-info-circle"></i> Help
            </div>
            <div class="widget-body small">
                <div class="message">
                    A properly formatted file has a an extension <b>.csv</b> 
                    and has two columns. The first is the timestamp in a 
                    MM/DD/YYYY HH:MM, and the second is the wind speed in 
                    <b>meters per second</b>. If the file has two wind columns,
                    as in the example image, the second wind column will be 
                    ignored. Additionally, the first row is
                    taken as the column headers. The image below serves as an
                    example.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class = "widget-title">
                <i class="fa fa-info-circle"></i> Example
            </div>
            <div class="widget-body medium">
                <div class="image"><img src="images/properformat.png"/></div>
            </div>
        </div>
    </div>
</div>
        