@import url('dashboard/dashboard.css');
@import url('themes/blue.css');

.plot{
    width:100%;
}

.angular-leaflet-map {
    height: 100%;
    width: 100%;
}


.alert.top-right {
	right: 0;
	top: 50px;
	position: fixed;
	z-index:1050;
	margin:20px;
}