<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-tasks"></i> Historical Data and Wind DayCriteria
            </div>
            <div class="widget-body medium">
                <div id="fileUpload">
                    <div class="message">
                        Please upload a properly formatted CSV file.
                    </div>
                    <br>
                    <div class="form-group row">
                        <form enctype="multipart/form-data">
                            <div class="col-sm-5">
                                <input name="file" type="file"  id="csvFileUpload" accept=".csv"  class="btn"/>
                            </div>
                            <div class="col-sm-5">
                                <input type="button" id='uploadBTN' value="Upload" class="btn btn-default pull-right" />
                            </div>
                        </form>
                    </div>
                    <div class="image"><img src="static/img/properformat.png"/></div>
                </div>
            </div>
        </div>
    </div>
</div>
        