numpy
scipy
matplotlib
plotly
mpld3
rasterio
Fiona
Shapely
pygdal
scikit-image
networkx
pyproj
Flask
PyMongo
mongoengine
Flask-RESTful
Flask-HTTPAuth
Flask-Script
Flask-MongoEngine
passlib
WTForms
pytz
aniso8601
itsdangerous
uWSGI