<!DOCTYPE html>
<html>
    <head>
        <title>Wind Day</title>
    </head>
<body>
    
    <h1>Estimate the Probability of a Wind Day</h1>
    <p>In a couple of simple steps we can compute the probability of calling a Wind Day.</p>
    <div>
        <h2>Upload File</h2>
        <p>Please make sure that the file is in a pure .CSV format and that it contains only two columns:
            The first should be named 'Date_time' and should be in a standard Date and Time format,
            The other one can be named in any fashion, but should contain only the wind speed values
            in meters per second.
        </p>
        <form enctype="multipart/form-data">
            <input name="file" type="file"  id="csvFileUpload" accept=".csv"  />
            <input type="button" id='uploadBTN' value="Upload" />
        </form>
    </div>
    <progress hidden id="progress"></progress>
    <div hidden id="tier2">
        <h2>Historical Visualization and Criteria</h2>
        <div>
            <p>The plots to the right depict the behaviour of the historical wind speed.
                to continue please fill the following form with your Wind Day criteria.
            </p>
            <form>
                <label for="workWindow">Number of Workable Hours in a Day</label>
                <input type="number" name="workWindow" onkeypress="return isNumberKey(event)"/>
                <label for="consecutive">Number of consecutive hours to call Wind Day</label>
                <input type="number" name="consecutive" onkeypress="return isNumberKey(event)"/>
                <label for="maxWS">Maximum Wind Speed</label>
                <input type="decimal" name="maxWS" onkeypress="return isDecimalKey(event)"/>
                <input hidden id="parameters"/>
            </form>
        </div>
        <div id="historicalPlots" class="plots"></div>
    </div>
    <div hidden>
        <h2>Wind Day Probability</h2>
        <div id="wdProbability" class="plots"></div>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(':file').change(function(){
    var input = $('#csvFileUpload');
    var file = this.files[0];
    var name = file.name;
    var size = file.size;
    var type = file.type;
    if (type != 'text/csv' && type != 'application/vnd.ms-excel'){
        input.replaceWith( input = input.clone( true ) );
        alert('Wrong File Type!'+'You Uploaded a ' + type + ' file. Please upload a CSV file.');
    }
});</script>
<script>
    $('#uploadBTN').click(function(){
        $('#tier2').hide();
    
        $('#progress').show();
        var formData = new FormData($('form')[0]);
        $.ajax({
            url: '/upload',  //Server script to process data
            type: 'POST',
            /*xhr: function() {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){ // Check if upload property exists
                    myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                }
                return myXhr;
            },
            */
            //Ajax events
            //beforeSend: beforeSendHandler,
            //success: completeHandler,
            //error: errorHandler,
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        })
        .done(function(){
            $.getJSON( "/visualize", function( data ) {
                var images = [];
                $.each( data.images, function(i, val) {
                    images.push('<li><iframe id="igraph" scrolling="no" height="462" src="' + val + '"width="100%"></iframe></li>');
                });
                
                $('#historicalPlots').empty();
                $('#parameters').append(data.parameters);
                
                $( "<ul/>", {
                    "class": "plots",
                    html: images.join( "" )
                }).appendTo( "#historicalPlots" );
                
                $('#progress').hide();
                
                $('#tier2').show();
                
            });
        });
    });
            /*
            $.ajax({
                dataType: "json",
                url: '/visualize',
                type: 'GET'
            })
            .done(function(json){
                console.log(json)
                $('#progress').hide();
                $('#historicalPlots').append(plotify(json));
                $('#tier2').show();
            });
        });
    });
    
    function plotify(iminfo){
        var ims = "";
        for (var i = 0; i < iminfo.images.length; i++){
            ims.concat("<img src=" + iminfo.images[i] +">");
        }
        return ims;
    }
    */
</script>
<script>
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function isDecimalKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
            return false;
        return true;
    }
</script>
</body>
</html>
